* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:  400px;
    font-size: 1.6rem;
    line-height: 1.7;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    align-self: center;
    justify-items: center;
    height: 100vh;
}

.chef-slider.swiper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
    overflow: hidden;
}

.chef-slider.swiper-wrapper {
    min-height: 100%;
    width: 100vw;
    background: #fff;
}

.chef-slider .swiper-slide {
    border-radius: 10px;
    position: relative;
    max-width: 480px;
    min-height: 580px;
    background: #f9f9f9;
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.chef-slider .swiper-slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #f9f9f9;
    z-index: 1;
}

.chef-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: 10px;
    text-align: left;
    padding: 0 20px;
}

.chef-name {
    font-size: 24px;
}

.chef-teaches {
    font-size: 16px;
    font-style: italic;
    color: #c9c9c9;
}

.chef-course {
    font-size: 20px; 
}

.chef-slider .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,.8) 10%, rgba(0,0,0,0) 70%);
    z-index: 2;
    opacity: .9;
} 

.chef-slider .swiper-slide .chef-text {
    position: absolute;
    font-size: 3rem;
    z-index: 20;
    color: #fff;
    bottom:  20px;
    left: 20px;
    animation: fadeOut .8s;
    opacity: 0%;
    
}

.chef-slider .swiper-slide-active {
    transform: scale(1.05)
}

.chef-slider .swiper-slide-active .chef-text {
    opacity: 100%;
    animation: fadeIn 1s
}

/* Buttons Prev, Next, Pagination */

.chef-slider .swiper-button-prev, 
.chef-slider .swiper-button-next {
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px
}

.chef-slider .swiper-button-next:after,
.chef-slider .swiper-button-prev:after {
    font-size: 1rem;
    color: #333;
    font-weight:  bold;
}

.chef-slider .swiper-pagination-bullet {
    background: #333;
}

/* Fade Animations for Text */

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

/* Adjustment for different screens */

@media (max-width: 480px) {
    .chef-slider .swiper-slide {
        border-radius: 10px;
        position: relative;
        max-width: 300px;
        min-height: 400px;
        background: #f9f9f9;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .chef-slider .swiper-button-prev, 
    .chef-slider .swiper-button-next  {
        display: none;
    }
}

@media (max-width: 480px) {
    .chef-slider .chef-text {
        margin: 0px
    }
    .chef-slider .chef-name {
        font-size: 20px;
    }
    
    .chef-slider .chef-teaches {
        font-size: 14px;
        font-style: italic;
    }
    
    .chef-slider .chef-course {
        font-size: 18px; 
    }
}